NEXT_PUBLIC_GOOGLE_MAPS_API=AIza...
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=62cc8b1c18ef8459

NEXT_PUBLIC_PERCENTAGE_TAX=15.5
NEXT_PUBLIC_PERCENTAGE_TAX_B2=30

NEXT_PUBLIC_BACKEND_URL=https://api-sandbox.b2adventure.com

NEXT_PUBLIC_EMAIL_B2=contato@b2adventure.com

GOOGLE_CLIENT_ID=1516048...
GOOGLE_CLIENT_SECRET=GOCSPX...

FACEBOOK_CLIENT_ID=1197555898641216
FACEBOOK_CLIENT_SECRET=c388...

NEXT_PUBLIC_ENV=dev
NEXTAUTH_URL=https://teste.b2adventure.com.br
NEXT_PUBLIC_PROD_URL=https://teste.b2adventure.com
NEXTAUTH_SECRET=tRKn...

B2_ENABLED_INSTALLMENT_PAY=1
